body {
    color:#434455;
    background-color: #E5E5E5;
    font-family: Raleway, sans-serif;
    font-family: Roboto, sans-serif;
}

ul {
    list-style:none;
}

.site-nav a {
    color:#2E2F42; 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.5;  
}

.site-nav .link:hover,
.site-nav .link:focus{
color: #404BBF;
font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 1.5;
}

.contact-link:hover,:focus{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: 1.5;
}


.menu-item h3 {
font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    letter-spacing: 1.2;

    /* NAVY BLUE */
    color: #2E2F42;
}

.menu-item p {
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: 1.5;
    
        /* SLATE */
        color: #434455;
}