body {
    color:#434455;
    background-color: #E5E5E5;
    font-family: Raleway, sans-serif;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

.logo {
    width: 44px;
        height: 21px;
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height, or 117% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        /* IRIS */
        color: #4D5AE5;
    
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        text-decoration: none
}

span {
        width: 71px;
            height: 21px;
        
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height, or 117% */
            display: flex;
            align-items: center;
            letter-spacing: 1.16;
            text-transform: uppercase;
        
            /* NAVY BLUE */
            color: #2E2F42;
        
        
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
}

.nav-item a:hover,
.nav-item a:focus{
    width: 48px;
        height: 24px;
    
        /* Body Medium */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: 1.5;
    
        /* NAVY BLUE */
        color: #2E2F42;
    
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
}

.contact-item a {
        position: absolute;
            width: 153px;
            height: 24px;
            left: 940px;
            top: 24px;
        
            /* Body */
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */
            letter-spacing: 1.15;
        
            /* SLATE */
            color: #434455;
}

h1 {
    position: absolute;
        width: 496px;
        height: 120px;
        left: 472px;
        top: 260px;
    
        /* Header 1 */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        /* or 107% */
        text-align: center;
        letter-spacing: 1.07;
    
        /* WHITE */
        color: #FFFFFF;
}

h2 {
    position: absolute;
        width: 323px;
        height: 40px;
        left: 559px;
        top: 1016px;
    
        /* Header 2 */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */
        text-align: center;
        letter-spacing: 1.11;
        text-transform: capitalize;
    
        /* NAVY BLUE */
        color: #2E2F42;
}

h3 {
        /* Header 3 */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */
        letter-spacing: 1.2;
    
        /* NAVY BLUE */
        color: #2E2F42;
    
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
}

button {
    
    
        /* Button Text */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        display: flex;
        align-items: center;
        letter-spacing: 1.5;
    
        /* WHITE */
        color: #FFFFFF;
    
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        display: flex;
        align-items: center;
        letter-spacing: 1.5;
    
        /* WHITE */
        color: #FFFFFF;
}

.menu-item p {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        letter-spacing: 1.5;
    
        /* SLATE */
        color: #434455;
}
